<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "coriousmonkey.hol.es"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Report ST</name>

    <description>
     	Report aplication for Android 
    </description>

    <author href="coriousmonkey.hol.es" email="harits.wahyu.hid@gmail.com">
        MIS 
    </author>
    
    <icon src="icon.png" />
    
    <access origin="*"/>

</widget>